<br />
<hr />
<br />
<div class="row content text-white">
  <div class="col-lg-6 order-2">
    <div class="row" style="text-align: right; margin-top: 50px">
      <div class="col-6">
        <h1 class="title text-white">ProManager</h1>
        <div class="description">
          <p>
            Gerencie seus projetos e tarefas com praticidade e facilidade com o
            ProManager
          </p>
        </div>
      </div>
      <div class="col-6">
        <div style="text-align: left; margin-left: 10px">
          <img
            alt="Angular Logo"
            style="max-width: 10rem"
            src="assets/icon.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" style="margin-bottom: 20px">
    <h4>Acesso Rápido</h4>
    <hr style="margin-left: -10px; max-width: 50%" />
    <ul class="description">
      <li><a class="links-style primary" href="#inicio">Início</a></li>
      <li><a class="links-style primary" href="#sobre">Nosso produto</a></li>
      <!-- <li><a class="links-style primary" href="#inicio">Login</a></li>
      <li><a class="links-style primary" href="#inicio">Cadastro</a></li> -->
    </ul>
    <br />
    <h4>Redes</h4>
    <hr style="margin-left: -10px; max-width: 50%" />
    <a
      class="links-style white"
      href="https://github.com/rarants"
      target="_blank"
    >
      <fa-icon [icon]="faGithub" class="fa-2x icon"></fa-icon>
    </a>
    <a
      class="links-style white"
      href="http://www.linkedin.com/in/raíssa-arantes-rarants"
      target="_blank"
    >
      <fa-icon [icon]="faLinkedin" class="fa-2x icon"></fa-icon>
    </a>
    <a
      class="links-style white"
      href="mailto: r.aissaarants@gmail.com"
      target="_blank"
    >
      <fa-icon [icon]="faEnvelope" class="fa-2x icon"></fa-icon>
    </a>
  </div>
</div>
<div class="white-footer center">
  Desenvolvido por
  <a
    class="links-style dark"
    href="mailto: r.aissaarants@gmail.com"
    target="_blank"
  >
    Raíssa Arantes
  </a>
</div>
