<body>
  <div id="inicio">
    <app-public-header></app-public-header>
    <div class="row content start">
      <div class="col ml-4">
        <h1 class="title text-white">
          {{ title }}
        </h1>
        <div class="description">
          <p>Faça seu cadastro e comece a gerenciar suas tarefas e projetos!</p>
          <p>
            Defina colunas temáticas e associe cartões de tarefas a
            cada uma delas. Defina responsáveis e até datas de início e término
            para cada uma das atividades.
          </p>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <img
          width="300"
          alt="Angular Logo"
          style="max-width: 10rem"
          src="assets/icon.svg"
        />
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="white-section" id="sobre">
      <br />
      <hr />
      <h1 class="center">Nosso produto</h1>
      <div class="row in">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-custom">
            <div class="icon-projects">
              <div class="card-body" style="padding-bottom: 60px">
                Adicione projetos para realizar planejamentos
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-custom">
            <div class="icon-cols">
              <div class="card-body" style="padding-bottom: 60px">
                Personalize colunas de tarefas em seus projetos
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-custom">
            <div class="icon-tasks">
              <div class="card-body" style="padding-bottom: 60px">
                Defina tarefas e atribua-as a colunas
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-custom">
            <div class="icon-deadline">
              <div class="card-body" style="padding-bottom: 60px">
                Defina prazos para as tarefas
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card card-custom">
            <div class="icon-tags">
              <div class="card-body" style="padding-bottom: 60px">
                Atribua etiquetas em suas tarefas
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 center">
          <div class="card card-custom-2">
            <img
              alt="Angular Logo"
              style="max-width: 7rem"
              class="mx-auto card-image pointer"
              title="Testar agora"
              src="assets/icon.svg"
            />
          </div>
        </div>
      </div>
      <hr />
      <br />
    </div>
    <app-public-footer></app-public-footer>
  </div>
</body>
