h1 {
    color: blue;
}
button {
    margin: 10px;
    border-radius: 10px;
    padding-inline: 20px;
}
.header {
    margin: 10px;
}
.title {
    margin: 20px;
}
/* Properties */
.right {
    text-align: right;
}
.modal-title {
    text-transform: capitalize;
}
.form-style {
    margin: 2rem;
}
.center {
    text-align: center;
}